@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.post-card {
    border-radius: 1rem;
    /* box-shadow: 0 0.1rem 0.1rem rgba(236, 239, 244, 1); */
    padding: 1rem;
    background-color: #e9e9e9;
    color: #384252;
    margin: 0.8rem;
    cursor: pointer;
    width: 75%;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: 'Lato', sans-serif;
}

.post-card:hover {

    box-shadow: 0 10px 10px rgba(236, 239, 244, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}


.post-card.expanded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
}


.expanded-content {
    padding: 2rem;
    font-weight: 500;
}

.expanded-content>p2 {
    font-size: 1rem;
    color: #5e81ac;
    font-weight: 600;
}